:root{
    --verde-unimed: #00995D;
    --verde-escuro: #006B3F;
    --verde-claro: #E6F4EF;
    --cinza: #6B6B6B;
    --cinza-claro: #F2F2F2;
    --branco: #FFFFFF;

}

@keyframes loop{
    0% {background-color: #019758;
    }
    25%{
        background-color: #018952;
    }
    50%{
        background-color: #008A55;
    }
    75%{
        background-color:#00995D;
    }
    100%{
        background-color: #00A86A;
    }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: var(--verde-escuro);
    border: 5px solid var(--verde-unimed);
    margin: 0px;
    padding: 0px;
    animation: loop 3s linear infinite;
}
html{
    font-size: 25px;
}
.container{
    display: flex;
    width: 100%;
}
.nome{
    margin-right: auto;
    padding: 15px;
    color: var(--branco);
    font-weight: bold;
}

.link{
    padding: 15px; 
}


.link{
    text-decoration: none;
    color: var(--branco);
    text-decoration: underline;
}
nav a:hover{
    color: rgb(106, 156, 155);
    text-decoration: none;
   
}
.nome:hover{
    color:var(--verde-claro);
}

.sobre, .atuacao, .planos, .doe{
    background-color: var(--cinza-claro);
    padding: 5px;
    text-align: justify;
}
h1{
    text-align: center;
    color: rgb(71, 123, 107);
    margin: 5px;
}
.simulacao{
    text-align: center;
    font-weight: bold;
    margin: 10px;

}
.simulacao a{
    text-decoration: none;
    color: rgb(22, 231, 3);
}
.simulacao a:hover{
    color: var(--verde-escuro);
    font-size: 30px;
}
#link a{
    text-decoration:none;
    color: #006B3F;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 90px;
    padding: 4px;
    background-color: #00ffa237;
    
}
#link{
    text-align: center;
    margin: 20px;
}
footer{
    background-color: var(--cinza);
}
.direitos{
    text-align: center;
    padding: 5px;
}
.fundo{
    opacity: 30%;
    
}
img{
    width: 100%;
    height: 300px;
    border: 2px solid black;
}
@media(min-width: 800px){
    .link, .nome{
        font-size: 30px ;
        padding: 20px;
    }
    main{
        font-size: 25px;
    }
    img{
        height:400px;
    }
  

}

@media(max-width:530px){
    body{
        font-size: 20px ;
    }
}